# Known Associations Table

In [2]:
import pandas as pd

In [45]:
known = pd.read_table('../data/Known_HLA_associatons.tsv')
# res = pd.read_csv('../manuscript/additive_assoc_adj_p_all.csv', index_col=0)
res = pd.read_table('../manuscript/complete_p_logor_se_aic.tsv')
res = res.set_index(['allelotype', 'phenotype'])

In [64]:
inds = [tuple(x) for x in known[['literature allelotype association', 'GBE phenotype code']].values]
res.loc[inds, ['add_p', 'add_se']]

                         add_p    add_se
DQA1_501  HC303   0.000000e+00  0.031576
DQB1_201  HC303   0.000000e+00  0.031804
DRB1_101  HC430   1.099394e-05  0.031126
DRB1_404  HC430   1.494623e-15  0.042641
DRB1_301  HC337            NaN       NaN
DQA1_501  HC337            NaN       NaN
DQB1_201  HC337            NaN       NaN
DRB1_405  HC337            NaN       NaN
DQA1_301  HC337            NaN       NaN
DQB1_302  HC337            NaN       NaN
DRB1_401  HC337            NaN       NaN
DRB1_402  HC337            NaN       NaN
DRB1_1501 HC151  1.973743e-106  0.040949
DQB1_602  HC151  2.506103e-100  0.041610
DRB1_301  HC352   4.628998e-09  0.077317
DRB1_103  HC201   1.851696e-58  0.062109
DQA1_301  HC337            NaN       NaN

In [58]:
res.loc[[('B_5101', 'HC139'), ('DQA1_501', 'HC303')]]

,,add_log_OR,add_p,add_se,gen_1_log_OR,gen_1_p,gen_1_se,gen_2_log_OR,gen_2_p,gen_2_se,aic_add,aic_gen,aic_diff
allelotype,phenotype,,,,,,,,,,,,
B_5101,HC139,0.079563,1.0,0.099909,0.100942,1.000000e+00,0.102899,-0.557269,1.000000e+00,1.002625,16363.0,16365.0,2.0
DQA1_501,HC303,1.353699,0.0,0.031576,2.096473,6.916711e-13,0.064338,2.794514,1.535744e-12,0.077537,23216.0,22986.0,-230.0

In [46]:
res.head()

                      add_log_OR  add_p    add_se  gen_1_log_OR  gen_1_p  \
allelotype phenotype
B_5101     HC139        0.079563    1.0  0.099909      0.100942      1.0
           HC134        0.003354    1.0  0.101057      0.020568      1.0
           HC135       -0.074868    1.0  0.057088     -0.066112      1.0
           HC136        0.087449    1.0  0.074372      0.072625      1.0
           HC131       -0.084748    1.0  0.078280     -0.112683      1.0

                      gen_1_se  gen_2_log_OR  gen_2_p  gen_2_se  aic_add  \
allelotype phenotype
B_5101     HC139      0.102899     -0.557269      1.0  1.002625  16363.0
           HC134      0.103931     -0.593249      1.0  1.001456  18592.0
           HC135      0.058776     -0.435083      1.0  0.502791  51284.0
           HC136      0.077842      0.473716      1.0  0.451355  28591.0
           HC131      0.081942      0.406370      1.0  0.450813  30474.0

                      aic_gen  aic_diff
allelotype phenotype
B_5101     HC139      16365.0       2.0
           HC134      18593.0       1.0
           HC135      51286.0       2.0
           HC136      28593.0       2.0
           HC131      30474.0       0.0

In [27]:
print('\n'.join(sorted(res.columns)))

add_log_OR
add_p
add_se
aic_add
aic_diff
aic_gen
allelotype
gen_1_log_OR
gen_1_p
gen_1_se
gen_2_log_OR
gen_2_p
gen_2_se
phenotype

In [20]:
res.head()

,B_5101,B_5108,B_1501,B_1503,DRB3_301,DQA1_101,DQB1_604,DPB1_402,DPB1_401,C_1203,...,A_3001,A_3004,B_4002,B_4001,DRB1_1201,B_3906,B_3901,DPB1_1701,B_5201,DPB1_101
HC139,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
HC134,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
HC135,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
HC136,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
HC131,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [65]:
known = known.drop('literature source', axis=1)
known = known.drop('GBE phenotype code', axis=1)
known['literature allelotype association'] = known['literature allelotype association'].apply(lambda x: x.replace('_', '*'))
known['phenotype'] = known.phenotype.apply(lambda x: x.capitalize().replace('/sle', ''))
known.head()

,phenotype,literature allelotype association,-log_10 nominal p value,odds ratio,DOI
0,Malabsorption/coeliac disease,DQA1*501,37.261679,3.87074,10.1016/0016-5085(93)90912-v
1,Malabsorption/coeliac disease,DQB1*201,323.306215,5.49337,10.1016/0016-5085(93)90912-V
2,Rheumatoid arthritis,DRB1*101,4.958847,1.19775,10.7326/0003-4819-117-10-801
3,Rheumatoid arthritis,DRB1*404,14.825468,1.46433,10.7326/0003-4819-117-10-801
4,Type 1 diabetes,DRB1*301,NaN,NaN,10.2337/db07-1331